</p>meded page test</p>
<div> List of topics: <%= for topic <- @topics do %> <div><%= link topic.topic, to: meded_path(@conn, :bytopic, topic: topic.topic), class: "btn btn-default btn-xs" %><br></div> <% end %> 

<%= for video <- @videos do %>
  <h3><%= video.name %></h3><br> 
      <%= raw(video.code)%><br>
      <h4><%= video.discription %></h4>
<% end %> 