<center> </p>Login page test</p>
<%= if  @current_user == nil do %> <a href="<%= session_path( @conn, :new) %>"> Login </a><% end %> <%= if @current_user do %> <%= admin = @current_user.admin %> <%= if admin do %>  / <a href="<%= user_path( @conn, :new) %>"> Register New User </a>



<h1>Listing Users</h1>
<table class="table">
<%= for user <- @users do %>
<tr>
<td><b><%= user.email %></b> (<%= user.id %>)</td>
<td><%= link "View", to: user_path(@conn, :show, user.id) %></td>
<td><%= link "Edit", to: user_path(@conn, :edit, user.id) %></td>
<td><%= link "Delete", to: user_path(@conn, :delete, user.id), method: "delete" %></td>
</tr>
<% end %>
</table>
<% end %><%end%>
<br><br>
</center>