Refine results by -
<form action="<%= search_path(@conn, :refinesearch)%>" method="post">
<input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
<input type="hidden" name="zip" value="<%= @zip.zip %>">
Specialty:<select name="specialty">
<option value="all"> Any </option>
<%= for servicestate <- @servicespecialties do %> 
<option value="<%= servicestate.specialty %>"><%= servicestate.specialty %></option>
<% end %>
</select>
Service Type:<select name="servicetype">
<option value="all"> Any </option>
<%= for servicestate <- @servicetypes do %> 
<option value="<%= servicestate.type %>"><%= servicestate.type %></option>
<% end %>
</select>
<input type="submit">
</form>


Showing Services Available in Zip Code <%= @zip.zip %> (<%= @zip.county %>):<br>
 <Center><div style="background-color:#f5f8ff;border-radius: 6px;border-top: 1px solid #e5e5e5;border-right: 1px solid #d0cece;border-left: 1px solid #e5e5e5;border-bottom: 1px solid #d0cece;"> 
 
<%= for servicestate <- @servicesstate do %> 
<div style="padding:5px;display:inline;"><%= link "#{servicestate.name} -  #{servicestate.cost}", to: search_path(@conn, :serviceshow, doctor_id: servicestate.doctor_id, service_id: servicestate.id), class: "btn btn-default btn-xs", style: "font-size:90%;" %> </div>
<% end %>
</div></center>
