Refine results by -
<form action="<%= search_path(@conn, :refinesearch)%>" method="post">
<input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
<input type="hidden" name="zip" value="<%= @zip.zip %>">
Specialty:<select name="specialty">
<option value="all"> Any </option>
<%= for servicestate <- @servicespecialties do %> 
<option value="<%= servicestate.specialty %>"><%= servicestate.specialty %></option>
<% end %>
</select>
Service Type:<select name="servicetype">
<option value="all"> Any </option>
<%= for servicestate <- @servicetypes do %> 
<option value="<%= servicestate.type %>"><%= servicestate.type %></option>
<% end %>
</select>
<input type="submit">
</form>


check to see if zip lookup works:<br>
zip searched:<%= @zip.zip %><br>
County: <%= @zip.county %> <br>
State: <%= @zip.state %><br>
<br> <br> 
Service county search:<br>
<%= for service <- @servicesaval do %>
<%= service.name %>, <br>
<% end %>
<br><br> Service state Search <br><br>
<%= for servicestate <- @servicesstate do %> 
<%= servicestate.name %>/ <%= servicestate.id %> / <%= servicestate.specialty %> / <%= servicestate.doctor_id %> <%= link "Show Service", to: search_path(@conn, :serviceshow, doctor_id: servicestate.doctor_id, service_id: servicestate.id), class: "btn btn-default btn-xs" %> <br>
<% end %>
