<h2>New Service</h2>

<%= render "form.html", changeset: @changeset, doctor: @doctor,
                        action: service_path(@conn, :create) %>

<%= link "Back", to: service_path(@conn, :index) %>
