<center> <h2> Worried about a medical problem, but not sure if is important enough to go to the doctor? </h3><br>

<p style="font-size: 70%"> Then our quick call service is perfect for you!. Great for small acute problems or some extra guidance when you aren't sure about something <br> <br> 
We have family doctors on staff waiting to discuss your problem and give treatment as appropriately as possible over the phone. Just fill out the form below or call us at (XXX) XXX - XXXX and we will have an agent contact you as soon as possible to set things up. Service is currently limited to South Carolina and is not meant for emergencies, chronic disease management, lifestyle/depression medications or for prescriptions for controlled substances. If you do have a medical emergency please dial 911 or your local emergency number for proper assistance. <br><br>

<h3>Send in your information to be contacted by email to get set up</h3></center>
<form style="font-size:80%;" action="<%= pricing_path(@conn, :pricingform)%>" method="post" id="request">
 <div class="form-group">
    <label for="name">Name</label>
    <input type="text" style="font-size:80%;color:black;" required="1"  name="name" class="form-control" />

    <label for="email">Email</label>
    <input type="text" required="1" style="font-size:80%;color:black;" id="email" name="email" class="form-control" />
     <label for="confemail">Confirm Email</label><br>
    <input name="emailConfirm" style="font-size:80%;color:black;" type="text" class="form-control" id="confemail" onblur="confirmEmail()"/>
    <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>