<center> <h2> Welcome to Call Me MD - Premium medical care without premium costs.</h2><br><img src="\images\billboard.png"><br><br>We specialize in offering affordable medical services by top notch doctors in your area.  